/* Favourites */
.favorites{
  position: relative;
    top: 12rem;
    background: var(--black);
    color: var(--white);
    padding: 1rem 0;
  }
  .favorites-content{
    width: var(--view-width);
    max-width: var(--max-width);
    margin: 0 auto;
  }
  .fav-heading{
    font-size: 2rem;

  }
  .favorites-container{
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
  }
  .favorite-item{
    text-align: center;
  }
  .favorites-img{
    width: 12rem;
    border-radius: 50%;
    border: 5px solid var(--white);
    cursor: pointer;
  }
  .remove-btn{
    margin-top: 0.25rem;
    background: transparent;
    color: var(--white);
    border: transparent;
    cursor: pointer;
    font-size: 0.5rem;
    transition: var(--transition);
  }
  .remove-btn:hover{
    color: var(--white);
    scale: 2;
  }
  
  