/* Search */

.search-container{
    height: 10rem;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .search-container form{
    /* width: var(--view-width);
    max-width: var(--max-width); */
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
  }
  
  .search-container .form-input{
    height: 4rem;
    width: 30rem;
    padding: 0.375rem 0.75rem;
    border-radius: var(--borderRadius);
    background: var(--backgroundColor);
    border: 1px solid var(--grey-200);
  }
  
  ::placeholder{
    font-family: inherit;
    font-size: 1.5rem;
    color: var(--grey-400);
  }
  
  .search-container button{

    font-size: 1.5rem;
    font-weight: 500;
  }
  